[submodule "spring-module-base"]
	path = spring-module-base
	url = https://github.com/Team-JubJub/spring-module-base.git
	branch = main
[submodule "spring-module-common"]
	path = spring-module-common
	url = https://github.com/Team-JubJub/spring-module-common.git
	branch = main
[submodule "spring-module-auth"]
	path = spring-module-auth
	url = https://github.com/Team-JubJub/spring-module-auth
	branch = main
